@model SWAT.Models.tblswatsurvey

<div>
        @{
            var grid = new  WebGrid(Model.tblswatwpoverviews.OrderByDescending(e => e.ID), rowsPerPage: 8);
            @grid.GetHtml(
            tableStyle: "table",
            columns: grid.Columns(
            grid.Column("wpname", header: "Water Point"),
            grid.Column("wpaType", header: "Accessing"),
            grid.Column("wpaUseDom", header: "Domestic/household use", format: @<text>@if(item.wpausedom == true){@Html.Raw("Yes")} else {@Html.Raw("No")}</text>),
            grid.Column("wpaUseInst", header: "Institutional use (hospitals, schools, community centres, etc.)", format: @<text>@if(item.wpauseinst == true){@Html.Raw("Yes")} else {@Html.Raw("No")}</text>),
            grid.Column("wpaUseEc", header: "Economic Activities (agriculture, industry, etc.)", format: @<text>@if(item.wpauseec == true){@Html.Raw("Yes")} else {@Html.Raw("No")}</text>),
            grid.Column(header: "", format: (item) => new HtmlString(
                @Html.ActionLink("Edit", "Edit", "WaterPoint", new {id = item.ID, SurveyID=item.SurveyID}, null).ToString() + " | "+
                @Html.ActionLink("Delete", "Delete", "WaterPoint", new {id = item.id}, null).ToString()
                            )
            )));   
            }
    </div>
